<!DOCTYPE html>
    <html>
        <head>
            <title>Chat</title>
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    document.querySelector('#channel').onclick = () => {

                        // store name in local storage
                        let name = document.querySelector('#name').value
                        localStorage.setItem('name', name);
                    }
                });
            </script>
                <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
                <script src="{{ url_for('static', filename='index.js') }}"></script>
                <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        </head>
        <body>
            <form>
                <input type="text" id="name" name="name" placeholder="Name" autocomplete="off" >
                <button>Enter</button>
            </form>
            </br>
            <form action="/channels" method="post">
                <input type="text" name="channel" placeholder="Channel" autocomplete="off" >
                <button type="submit" id="channel">Create</button>
            </form>
            </br>
                <form action="" id="my-form">
                    <input id="text" type="text" name="chat"/>
                    <button id="button" type="submit">Submit</button>
                </form>
            </br>
            {% for channel in channels %}
                <a href="{{ url_for('channels', channel_name = channel.channel) }}"> {{ channel.channel }} </a> </br>
            {% endfor %}
            </br>
            <ul id="chat">
            </ul>
        </body>
    </html>